.social-media-container {
  max-width: 78.5rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.14rem;
  transform: translateY(-50%);

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(2, 1fr);
    transform: translateY(-25%);
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    transform: translateY(-10%);
    gap: 2rem;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.1rem 0;
    background-color: var(--card-bg);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;

    &::before {
      content: '';
      width: 100%;
      height: 6px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__name {
      display: flex;
      color: var(--small-text);
      align-items: center;

      h4 {
        margin-left: 8px;
      }
    }

    &__text {
      text-transform: uppercase;
      color: var(--small-text);
      letter-spacing: 5px;
      font-size: 0.85rem;
    }

    &__followers {
      text-align: center;
      margin: 20px 0;
      &--number {
        font-weight: 700;
        font-size: 3.57rem;
        color: var(--big-text);
      }
    }

    &__number {
      display: flex;
      align-items: center;

      span {
        margin-left: 3px;
        color: $color-lime-green;
        font-weight: 700;
        font-size: 0.85rem;
      }
    }

    &--4 {
      span {
        color: $color-bright-red;
      }
    }

    &--1::before {
      background-color: $color-facebook;
    }

    &--2::before {
      background-color: $color-twitter;
    }

    &--3::before {
      background-color: unset;
      background-image: $color-instagram;
      background-size: cover;
    }

    &--4::before {
      background-color: $color-youtube;
    }
  }
}
